<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hhhao.note.mapper.NotesBillMapper">
    <select id="getBillsOfMonth" resultType="com.hhhao.note.entity.NotesBill">
        SELECT * 
        FROM notes_bill b
        WHERE user_id = #{user.id} AND
              time &gt; #{startTime} AND
              time &lt; #{endTime}
    </select>
</mapper>