<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hhhao.note.mapper.NotesSharedEventMapper">
    <select id="getSharedEvent" resultType="com.hhhao.note.dto.friend.FriendSharedEventDto">
        SELECT shared_event_id as eventId,title,content,user_id_from as sharedUserId,shared_time as sharedTime
        FROM notes_shared_event s
        LEFT JOIN notes_event e on s.shared_event_id = e.id
        WHERE s.user_id_to = #{userInfo.id} 
    </select>
</mapper>